#home {
  height: 100%;
  /* background: #cae8f8; */
}

.banner {
  width: 100%;
  height: 100%;
}
.banner_title {
  color: #eeeeee;
  font-size: 30px;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin-left: -230px;
}
.introduce {
  margin-top: 30px;
}
.content_info {
  text-align: left;
}
.content_info h3 {
  font-size: 24px;
  margin-top: 50px;
}
.content_info p {
  font-size: 14px;
}

.news_content {
  padding: 0;
}
.news_content img {
  display: block;
  height: 200px;
  width: 100%;
}
.news_title {
  padding: 15px 0;
  color: #040303;
  font-family: 微软雅黑;
}

.news_list a {
  color: #040303;
  text-align: left;
}

.service h1 {
  font-size: 38px;
  font-weight: bolder;
  margin-top: 40px;
  letter-spacing: 10px;
  color: #4e4849;
  padding-bottom: 10px;
  /* border-bottom: 1px solid #f5f5f5; */
}
.service h2 {
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: 10px;
  color: #918c16;
  padding-bottom: 10px;
}
.service h1 span {
  font-size: 36px;
  letter-spacing: 4px;
}
.service_block {
  margin-top: 40px;
  padding: 10px 20px;
  border-bottom: 4px solid #f8dbdb;
}
.block {
  /* height: 200px; */
  /* background: #cae8f8; */
  /* line-height: 200px; */
  box-shadow: #666 0px 0px 4px;
}
.standard:hover {
  cursor: pointer;
  box-shadow: #666 10px 0px 40px;
  transition: 0.6s;
}
.standard1:hover {
  cursor: pointer;
  transition: 2s;
  transform: rotateY(-360deg);
}
.contact_us {
  margin-top: 40px;
  padding: 0 20px;
  border: 1px solid #e3d6d6;
  box-shadow: #666 0px 0px 20px;
}

.pro_img {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}
/* .pro_img:hover{
    transition: 4s;
    transform:rotate(360deg);
  } */
.heng {
  color: #000;
  font-size: 30px;
}
.name {
  height: 28px;
  line-height: 28px;
  font-size: 20px;
  color: #0a0734;
  font-weight: bolder;
  margin-top: 10px;
}
.content {
  color: #807e88;
  font-weight: bolder;
  font-size: 16px;
  margin-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.news {
  height: 300px;
}
.news img {
  width: 100%;
  height: 100%;
  background: rgba(42, 48, 74, 1);
}
.news li {
  list-style: none;
  text-align: left;
  text-indent: 40%;
  line-height: 100px;
  font-size: 20px;
  color: #61616a;
  background: #fff;
  color: #7c7b7b;
}
.news li:hover {
  background: #bce4f9;
  transition: 1.2s;
  color: #040303;
}
.dotted {
  border-top: 1px dotted #e7d8d8;
  border-bottom: 1px dotted #e7d8d8;
}
.we_address {
  text-align: left;
  text-indent: 30%;
  font-size: 16px;
  color: #8f8987;
  padding-bottom: 10px;
  background: #f3f3f3;
}
.money {
  line-height: 150px;
}
.money_number {
  font-size: 28px;
  color: #2193f1;
  font-weight: bolder;
}
.ml {
  font-size: 10px;
  color: #000;
  margin-left: 4px;
  margin-right: 2px;
}
.var {
  padding: 10px 0;
  background: #45995d;
  color: #fff;
  font-weight: bolder;
}
@media (max-width: 1092px) {
  .news {
    height: 100px;
  }
  .news img {
    width: 100%;
    height: 100%;
    background: rgba(42, 48, 74, 1);
  }
  .news li {
    list-style: none;
    text-align: left;
    text-indent: 20%;
    line-height: 33px;
    font-size: 13px;
    color: #61616a;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .map {
    height: 200px;
    line-height: 200px;
  }
  .map1 {
    width: 100%;
    height: 200px;
    line-height: normal;
    border: 1px solid #e3d6d6;
    box-shadow: #666 0px 0px 40px;
  }
  .contact_ul li {
    border-bottom: 1px dotted #e7d8d8;
  }
  .contact_ul li i {
    font-size: 14px;
    color: #000;
  }
  .contact_ul li span {
    color: #000;
    font-size: 16px;
  }
  .contact_us {
    /* margin-top: 40px; */
    /* padding: 0 20px; */
    border: 1px solid #e3d6d6;
    box-shadow: #666 0px 0px 20px;
  }
  .word {
    line-height: normal;
    font-size: 10px;
    color: #7f5d3a;
    display: inline-block;
    padding-bottom: 6px;
    border-bottom: 1px solid #b2b2b2;
  }
  .qrcode {
    transition: 1s;
    display: none;
    width: 100px;
    height: 100px;
    vertical-align: middle;
    background: #000;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 18%;
  }
  #weixin {
    background: #ef7171;
    cursor: pointer;
  }
  .we_address {
    text-align: center;
    text-indent: 0px;
    margin-bottom: 8px;
  }
}